.error-box{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    background-color: white;
    border: 2px solid #c0392b;
    color: #c0392b;
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.error-box i{
    font-weight: bold;
    font-size: 40px;
}

.hide{
    display: none;
}