@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s linear;
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}
input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    background-color: transparent !important;
    padding-bottom: 0.8rem;
    color: rgb(212, 212, 212);
    font-size: 16px;
    font-weight: light;
}

input::placeholder{
    color: rgb(212, 212, 212);
    font-size: 16px;
    font-weight: light;
}

button{
    outline: none;
    padding: 0.8rem 2rem;
    background: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #bd7576, #a36473, #87556e, #694765, #4b3b58);
}

#Main_form{
    display: flex;
    background-color: #B64F56;
    width: 900px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#Main_form .form_img{
    width: 50%;
    overflow: hidden;
}
#Main_form .form_img img{
    width: 100%;
    height: auto;
}
#Main_form .form_content{
    padding: 0 80px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pass_input{
    margin: 2rem 0;
}
.form_content_btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.form_content_forgot {
    margin-top: 2rem;
}
.form_content_forgot a{
    color: white;
    padding-top: 2rem;
}